VITE_GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbwd_xF44REnIcwfOuKahxPK7mp3qPE0dV5S8mhtXXF4KCLGV28QMHvAQOe_i6OhEcZPyQ/exec
VITE_DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/YOUR_WEBHOOK_ID/YOUR_WEBHOOK_TOKEN
VITE_CALENDLY_LINK=https://calendly.com/YOUR_USERNAME